		</div>
		<div class="push"></div>
		<div class="footer">
			<p id="copyright">&copy; Copyright Gates of Anthera 2015 | Not Affliated with Mojang</p>
			<div class="links">
				<a href="#">Apply</a>
				<a href="#">Wiki</a>
				<a href="#">Contact</a>
			</div>
			<div class="social">
				
			</div>
		</div>
	</body>
</html>