<% include ../layouts/header.ejs %>
<div class="jumbo">
	<h3 id="welcome-to">welcome to</h3>
	<img src="images/GoA-type.png" alt="">
	<p>Gates of Anthera is a new Minecraft network set up to ensure the best possible quality gameplay for everyone to enjoy.</p>
</div>
<div class="features">
	<h1>what we offer</h1>
	<div class="box">
		<div id="ico-survival-factions">a</div>
		<h2>survival &amp; factions</h2>
		<p>Factions offers a class system to enhance everything you know and love about Survival gameplay.</p>
	</div>
	<div class="box">
		<div id="ico-rpg">b</div>
		<h2>rpg</h2>
		<p>Our RPG experience offers a rich open world with heavy lore focused content, with a fully custom experience with plenty to do, this is not one to miss.</p>
	</div>
	<div class="box">
		<div id="ico-kitpvp">c</div>
		<h2>kitpvp</h2>
		<p>Battle it out with your friends in an action-packed KitPVP environment, with a range of diverse maps to choose from and a kit to fit your playstyle, there's fun to be hand.</p>
	</div>
	<a href="#test">Discover More</a>
</div>
<% include ../layouts/footer.ejs %>