<% include ../layouts/header.ejs %>
<div class="server-wrapper">
	<div class="left">
		<div class="box">
			<h2>CONNECT WITH</h2>
			<input type="text" value="anthera.us" id="connect-ip"><span><i class="fa fa-clipboard" id="copy-ip"></i></span>
		</div>
		<div class="box">
			<h2>NETWORK STATUS</h2>
			<p>All Servers Online</p>
		</div>
	</div>
	<div class="right">
		<div class="box">
			<h2 class="box-title">SURVIVAL/FACTIONS SERVER <span class="online"></span></h2>
			<div class="spacer"></div>
			<p>Last login: 23 hours ago</p>
			<div class="left-right">
				<h2><span id="online-standard"></span> Players Online</h2>
				<p>Latency: <span id="latency"></span>ms</p>
			</div>
		</div>
	</div>
</div>