<% include ../layouts/header.ejs %>
<div class="container">
	<div class="stats-menu">
		<a href="#" style="border-top: 2px solid #EAAB4E; border-left: 2px solid #EAAB4E; border-bottom: 2px solid #EAAB4E; border-top-left-radius: 10px; border-bottom-left-radius: 10px;">Survival</a>
		<a href="#" style="border-top: 2px solid #EAAB4E; border-right: 2px solid #EAAB4E; border-bottom: 2px solid #EAAB4E; border-top-right-radius: 10px; border-bottom-right-radius: 10px;">RPG</a>
		<div class="filter" id="board-filter">
			<label for="playtime">Playtime</label>
			<span></span>
			<input type="checkbox" id="playtime">
			<label for="region">Region</label>
			<input type="checkbox" id="region">
			<label for="guild">Guild</label>
			<input type="checkbox" id="guild">
		</div>
	</div>
	<div class="stats">
		
	</div>
</div>