<% include ../layouts/header.ejs %>
<div class="container">
	<div class="store">
		<div class="box">
			<img src="http://placehold.it/100x100/EAAA50" alt="">
			<h2>Item Name</h2>
			<p>Brief description goes here</p>
			<a href="#" class="buy-btn">$2.99</a>
		</div>
	</div>
</div>